
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<html>
<body>
    
    
    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>About</h3>
                <img src="~/web/images/about_banner.jpg" alt="" />
                <p>Lorem ipsum dolor sit amet </p>
                
            </div>
        </div>
    </div>
    
</body>
</html>

