
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>İletişim</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <h3>İletişim Bilgileri</h3>
                <p> Bize ulaşmak için aşağıdaki bilgileri kullanabilirsiniz. İletmek istediğiniz bir mesaj varsa yazabilirsiniz.</p>
            </div>
            
            <div class="form">
                <form class="cmxform" id="contactForm" method="post">
                    <div>
                        <input type="text" class="textbox" value="Ad Soyad:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Telefon No:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';} required">
                    </div>
                    <div>
                        <input type="submit" value="Gönder" id="contactButton" />
                    </div>
                </form>
                <script>
                    $('#contactButton').submit(function () {
                        swal({
                            title: "Gönderildi!",
                            icon: "success",
                        });
                    });
                </script>
            </div>
            <div class="form1">
                <div>
                    <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mesajınız:</textarea>
                </div>
            </div>
            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adres:</h3>
                        <p> Isparta Uygulamalı Bilimler Üniversitesi</p>
                        <p>Telefon No : 0123464789</p>
                        <p>Email : <a href="mailto:signup@gmail.com">l2012721010@isparta.edu.tr</a></p>
                    </div>
                </div>
                <div class="contact-map">
                    <iframe width="580" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A" style="color: #555;text-align:left">View Larger Map</a></small>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>


