
<div class="form">
    <form class="cmxform" id="contactForm" method="post">
        <div>
            <input type="text" class="textbox" name="AdSoyad" required value="Ad Soyad:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ad Soyad: ';}">
        </div>
        <div>
            <input type="text" class="textbox" name="Mail" required value="Email:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email:';}">
        </div>
        <div>
            <input type="text" class="textbox" name="Konu" required value="Konu:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Konu:';}">
        </div>
        <div>
            @*<textarea type="text" value="Mesajınız:" name="Mesaj" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mesajınız:';}">Mesajınız:</textarea>*@
            <input type="text" class="textbox" name="Mesaj" value="Mesajınız:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mesajınız:';}">
        </div>
        <div>
            <input type="submit" value="GÖNDER" />
        </div>
    </form>
</div>


