
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>Restorant</h2>

<body>
    <script>(function (d, s, id, h) { var ftjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; var js = d.createElement(s); js.id = id; js.src = "https://cdn.formitable.com/sdk/v1/ft.sdk.min.js"; h && (js.onload = h); ftjs.parentNode.insertBefore(js, ftjs); }(document, 'script', 'formitable-sdk', function () { FT.load('Analytics'); }));</script>
    <div class="ft-widget-b2" data-restaurant="67e30298" data-open="1500" data-open-mobile="false" data-color="#000000" data-language="auto" data-tag="Website" data-toolbar="true" data-toolbar-mobile="true"></div>

</body>

